<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Enlace D{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/app/css/main.css') }}">
   			<link rel="stylesheet" media="print" type="text/css" href="{{ asset('bundles/app/css/print.css') }}">
    		<link rel="stylesheet" media="aural" type="text/css" href="{{ asset('bundles/app/css/aural.css') }}">
    		<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/app/css/carrousel.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% javascripts
            '@jquery_and_plugins'
            '@AppBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
    </head>
    <body>
    	<!-- Main -->
    	<div id="main" class="box">
    		<!-- Header -->
    		<div id="header">
                <!-- Logotyp -->
                <h1 id="logo"><a href="/" title="Enlace D [Go to homepage]">Enlace <strong>D</strong><span></span></a></h1>
                <hr class="noscreen">          
        
                <!-- Quick links -->
                <div class="noscreen noprint">
                    <p><em>Enlaces Rápidos: <a href="#news">Noticias</a>, <a href="#sites">Sitios</a>, <a href="#tutorial">Tutoriales</a>, <a href="#search">Buscar</a>.</em></p>
                    <hr>
                </div>
        
                <!-- Search -->
                <div id="search" class="noprint">
                    <form action="" method="get">
                        <fieldset><legend>Buscar</legend>
                            <label><span class="noscreen">Encontrar:</span>
                            <span id="search-input-out"><input type="text" name="" id="search-input" size="30"></span></label>
                            <input type="image" src="{{ asset('bundles/app/design/search_submit.gif') }}" id="search-submit" value="OK">
                        </fieldset>
                    </form>
                </div> <!-- /search -->
            </div>
            <!-- /Header -->
            <!-- Main menu (tabs) -->
            <div id="tabs" class="noprint">
                <h3 class="noscreen">Navegación</h3>
                <ul class="box">
                    {% for menu in menues  %}
                    	<li {% if typeForm == menu['name'] %}id="active" {% endif %}><a href="{{ menu['url'] }}">{{ menu['label'] }}<span class="tab-l"></span><span class="tab-r"></span></a></li>
                    {% endfor %}
                </ul>
            <hr class="noscreen">
            </div>
            <!-- /tabs -->
            <!-- Page (2 columns) -->
            <div id="page" class="box">
                <div id="page-in" class="box">
            
                    <div id="strip" class="box noprint">
            
                        <!-- RSS feeds -->
                        <p id="rss"><strong>RSS:</strong> <a href="#">noticias</a> / <a href="#">comentarios</a></p>
                        <hr class="noscreen">
            
                        <!-- Breadcrumbs -->
                        <p id="breadcrumbs">Estas en: {% block currentPos %}{% endblock %}</p>
                        <hr class="noscreen">
                        
                    </div> <!-- /strip -->
            
                    <!-- Content -->
                    <div id="content">
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="flash-error">
                                <p>{{ flashMessage }}</p>
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="flash-notice">
                                <p>{{ flashMessage }}</p>
                            </div>
                        {% endfor %}
                        {% block body %}{% endblock %}
                    </div> <!-- /content -->
                    <!-- Right column -->
                    <div id="col" class="noprint">
                        <div id="col-in">            
                            <!-- Sitio -->
                            <h3><span>Enlaces</span></h3>
                            <ul id="site">
                            	{% for s in sites %}
                                	<li {% if current is defined and s == current  %}id="active" {%  endif %}>
                                		<a href="/site/show/{{ s.id }}">{{ s.name }}</a>
                                		<a class="externalink" hint="Enlace externo" target="_Blank" href="{{ s.url }}"></a>
                                	</li>
                                {% endfor %}
                            </ul>
            
                            <hr class="noscreen">
            
                            <!-- Tutorial -->
                            <h3><span>Tutoriales</span></h3>
            
                            <ul id="tutorial">
                            	{% for t in tutorials %}
                                	<li {% if current is defined and t == current  %}id="active" {%  endif %}><a href="/tutorial/show/{{ t.id }}">{{ t.name }}</a></li>
                                {% endfor %}
                            </ul>
            
                            <hr class="noscreen">
            
                            <!-- News -->
                            <h3><span>Últimas Noticias</span></h3>
                            <ul id="news">
                                {% for n in news %}
                                	<li {% if current is defined and n == current  %}id="active" {%  endif %}><a href="/news/show/{{ n.id }}">{{ n.name }}</a><p>{{ n.getShortDescription() }}</p></li>
                                {% endfor %}
                            </ul>
            
                            <hr class="noscreen">
                            <!--
                             <!-- About Me
                            <h3><span><a href="#">About Me</a></span></h3>
            
                            <div id="about-me">
                                <p><img src="design/tmp_photo.gif" id="me" alt="Yeah, it´s me!">
                                <strong>John Doe</strong><br>
                                Age: 26<br>
                                Dallas, TX<br>
                                <a href="#">Profile on MySpace</a></p>
                            </div> 
            
                            <hr class="noscreen"> -->
                        
                        </div> <!-- /col-in -->
                    </div> <!-- /col -->
            
                </div> <!-- /page-in -->
             </div>
    	</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
