{% extends "AppBundle::base.html.twig" %}

{% block currentPos %}
	<strong>Inicio</strong>            
{% endblock %}
{% block body %}
	<h3>Featured Articles:</h3>
    <div id="carousel">
        <ul>
        	{% for n in news %}
                <li class="slide">
                    <h4>{{ n.name }}</h4>
                    <img  class="image_news" src="{{ asset('uploads/image-news/' ~ n.image) }}" alt="{{ n.name }}">
                    <p>
                        {{ n.getShortDescription() }}
                        <a href="/news/show/{{ n.id }}">Ampliar</a>
                    </p>
                </li>
            {%  endfor %}
        </ul>
    </div>
{% endblock %}

